{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Confirmación de Eleminación de Obra Social
{% endblock %}

{% block extracss %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
{% endblock extracss %}

{% block body %}
<form  method="post">
  {% csrf_token %}
  <p><strong>¿Desea eleminar el registro {{ object }}?</strong></p>
  <button type="submit" class="btn btn-danger">Confirmar</button>
  <a href="{% url 'modelsGeneral:listar_obra_social' %}" class="btn btn-primary">Cancelar</a>
</form>
{% endblock body %}